<% include partials/header %>
<link rel="stylesheet" href="/css/newBlog.css">
    
    <div class="container-blog">
        <div id="blog-head"><%= blog.title%></div>
        <div id="blog-head"><%- blog.body%></div>
        <div class="blog-image">
            <img class="blog-image" href="<%= blog.image %>">    
        </div>
        <div id="blog-head"><%= blog.created.toDateString() %></div>
    </div>    
    <a href="/blog/<%= blog._id %>/edit">Edit Blog</a>
    <form id='delete' action='/blog/<%=blog._id%>?_method=DELETE' method='POST'>
        <button type='submit'>Delete</button>
    </form>
<% include partials/footer %>